        fieldset{ width: 250;
            background-color: gray;;
            border-color: black;
            border-style: solid;
            border-width: 10px;
            border-radius: 0px;
            /* Apply centering to every fieldset*/
            display: block;
            margin: 1.0em auto;
            text-align: center;
            width: 400px;
        }
        legend{
            font-weight: bold;
            background-color: gray;
            border-style: solid;
        }
        .left-block {
            background-color: gray;
            border-style: solid;
            border-color: black;
            text-transform: uppercase;
            color: white;
            padding: 3px;
        }
        .right-block{
            background-color: gray;
            border-style: solid;
            border-color: black;
            text-transform: uppercase;
            color: white;
            padding: 3px;
        }
        p{
            color: white;
        }
        label{
            color: white;
        }


        ********************* 
        
        .dropdown {
            float: left;
            overflow: hidden;
        }

        .dropdown .dropbtn {
            /* font-size: 16px; */
            font-size: inherit;
            /* border: none; */
            border: inherit;
            /* outline: none; */
            outline: inherit;
            /* color: white; */
            color: inherit;
            /* padding: 14px 16px; */
            padding: inherit;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
        }

        .navbar a:hover,
        .dropdown:hover .dropbtn {
            background-color: red;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .site-footer {
            background-color: gray;
            border-style: solid;
            border-color: black;
            background-image: gray;
            padding: 20px 0px;
            /* Apply centering to footer*/
            display: block;
            margin: 1.0em auto;
            text-align: center;
            width: 400px;
            border-width: 10px;
        }