table, td, th 
{
    border: 1px solid black;
}

body 
{
    font-family: 'Ubuntu', sans-serif;    
}

.img-center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.jumbotron 
{
    margin: 0;
    padding: 30px;
    background-color: #dcc98a;      
}

.navbar 
{
    background-color: #3f6673;    
    color: white
}

.dropdown 
{
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn 
{    
    font-size: inherit;    
    border: inherit;    
    outline: inherit;    
    color: inherit;
    padding: inherit;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a 
{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover 
{
    background-color: #ddd;
}

.dropdown:hover .dropdown-content 
{
    display: block;
}




/*



h2 {
    color: red;
}

header h2 {
    color: #CEC8FF;
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0px;
}





.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #5637dd;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
}

#reserveModal .modal-header {
    background-color: #17A2B8;
    color: white;
}

#loginModal .modal-header {
    background-color: #901CAD;
    color: white;
}

.bgColor {
    background-color: red;
}
.yellowBelt {
    border-style: solid;
    border-color: yellow;
}

.orangeBelt {
    border-style: solid;
    border-color: orange;
}

.greenBelt {
    border-style: solid;
    border-color: green;
}

.blueBelt {
    border-style: solid;
    border-color: blue;
}

.brownBelt {
    border-style: solid;
    border-color: brown;
}

.purpleBelt {
    border-style: dashed;
    border-color: purple;
}
*/