        fieldset{
            background-color: lightblue;
            border-color: darkblue;
            border-style: solid;
            border-width: 10px;
            border-radius: 20px;
        }
        legend{
            color: white;
            font-weight: bold;
            background-color: darkblue;
            border-style: solid;
        }
        .left-block {
            background-color: red;
            text-transform: uppercase;
            color: white;
            padding: 3px;
        }
        .right-block{
            background-color: purple;
            text-transform: uppercase;
            color: white;
            padding: 3px;
        }